<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Exercise - About</title>
    <link type="text/css" th:href="@{css/style.css}" rel="stylesheet" />
</head>
<body>
<header id="header">
    <nav id="nav">
        <a href="index">Index</a>
        <a href="contact">Add contact</a>
        <a href="contact_list">Contact list</a>
        <a href="fever_controller">Fever Controller</a>
        <a href="about">About</a>
    </nav>
</header>
<h1>about</h1>
<img src="img/photo.jpg" alt="photo" style="width:75%"/>
</body>
</html>